**/__pycache__
.DS_Store
.idea/
build/
dist/
logs/
configs/myrules.yara
configs/myrules.json
regex_string_search_finder.py 
solitudeCode/IP2LOCATION-LITE-DB1.BIN
solitudeCode/__pycache__/
solitudeCode/blackboxprotobuf/__init__.pyc
solitudeCode/blackboxprotobuf/lib/__init__.pyc
solitudeCode/blackboxprotobuf/lib/interface.pyc
solitudeCode/blackboxprotobuf/lib/types/__init__.pyc
solitudeCode/blackboxprotobuf/lib/types/type_maps.pyc
venv/
solitudeCode_pkg_DHastings.egg-info/
vpnconfig/dh.pem
vpnconfig/key.pem
vpnconfig/csr.pem
vpnconfig/cert.pem
vpnconfig/udp1194.conf
vpnconfig/tcp443.conf
vpnconfig/client.http
vpnconfig/client.ovpn
vpnconfig/clientTCP.ovpn
vpnconfig/clientUDP.ovpn
static/clientUDP.ovpn
static/clientTCP.ovpn
configs/settings.json
openvpn-status-443.log
openvpn-status-1194.log
include/
pyvenv.cfg
